<title>Checkout challenge Jeroen van Bart</title>

</div>
<div id="proceed" class="text-center mt-5">
   <h1>Webshop</h1>

  <h2>product 1</h2>
    <p>price: EUR 300</p>
    <a class="btn btn-lg btn-primary" href="/views/payment">Checkout</a>
</div>
<div id="paymentoptions" style="display: none;"> 

</div>
{{!-- <script type="text/javascript" src="/scripts/checkout.js"></script> --}}