<div id="paymentMethodsResponse" class="hidden">{{{ response }}}</div>
<div id="clientKey" class="hidden">{{ clientKey }}</div>

<div id="payment-page">
  <div class="container">
    {{> customerform}}
    <div id="dropin"></div>
  </div>
</div>

<script type="text/javascript" src="../adyenImplementation.js"></script>